body{
    background-color: #393E46;
}
h1{
    color: #4ECCA3;
    font-family: 'lobster' , cursive;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    margin: 30px;
    text-shadow: 5px 0 #232931;
}
.dice {
    display: inline-block;
}
.container{ 
    text-align: center;
    margin: auto;
}
p{
    font-family: 'Indie Flower', cursive;
    color: #4ECCA3;
    font-size: 2rem;
  
}
img{
    width: 80%;
}
footer{
    font-family: 'Indie Flower', cursive;
    color: white;
    text-align: center;
    margin-top: 5%;
}